flask
flask-cors
gunicorn
langchain
langchain-community
langchain-google-genai
langchain-openai
google-generativeai
requests
beautifulsoup4
feedparser
weasyprint
reportlab
filestack-python
python-dotenv
